@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */
:root {
  --background: #0A0F1E; /* TTM dark navy */
  --foreground: #FFFFFF; /* white text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
